.form {
  height: 400px;
  width: 300px;
}

.form .form-size {
  background-color: #7c8a9f;
  border-radius: 16px;
  height: 570px;
  right: 60px;
  padding:22px;

  position: fixed;
  top :18%;
  width: 500px;
}

.type-text{
  color: #ffffff;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 0;
  width: 532px;
}
